.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  /* background-color: yellow; */
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
}

.header__menu {
  max-width: 400px;
  line-height: 100%;
  /* background-color: greenyellow; */
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__logo {
  width: 148px;
  height: 105px;
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
}

.header__logo-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.address {
  width: 240px;
  justify-self: end;
  font-style: normal;
  line-height: 24.3px;
  /* background-color: greenyellow; */
}

.header__address {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: 125%;
  background-position: center;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  z-index: -2;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  padding: 165px 50px 50px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 21px;
}

.aligned-text_right {
  display: block;
  text-align: end;
}

/* .letter-spacing-extended {
  letter-spacing: 30px;
} */

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 50px 50px 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  height: 157px;
}

.cover__description-text {
  word-spacing: 19px;
}

.bet-button {
  all: unset;
  background: transparent;
  padding: 12px 32px 11px 31px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.lots {
  width: 1052px;
  /* background-color: yellowgreen; */
  margin-bottom: 120px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 40px;
  padding-top: 5px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
  margin-bottom: 35px;
}

.lots__card-list-item {
  all: unset;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -2;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  z-index: -2;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  z-index: -2;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  z-index: -2;
}

.card__title {
  padding: 48px 40px 5px 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card__text {
  padding: 5px 40px 48px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  width: 1052px;
  /* background-color: yellowgreen; */
  margin-bottom: 180px;
}

.about__logo {
  margin-top: 35px;
  margin-left: 47px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__column {
  margin-top: 140px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 102px;
}

.about__text-first {
  margin-bottom: 24px;
  margin-right: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  /* background-color: aquamarine; */
}

.about__text-second {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  /* background-color: aquamarine; */
}

.footer {
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 140px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
}

.footer__menu {
  line-height: 21px;
  /* background-color: aquamarine; */
}

.footer__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 240px;
  /* background-color: yellowgreen; */
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  height: 100%;
  width: auto;
}
